{% extends 'base.html' %}
{% load static %}


{% block content %}

    <div data-bs-spy="scroll" class="scrollspy-example">

        <!-- Hero: Start -->
        <section id="hero-animation">
            <div id="landingHero" class="section-py landing-hero position-relative">
                <div class="container">
                    <div class="hero-text-box text-center">
                        <h1 class="text-primary hero-title display-6 fw-bold">Test d'aptitudes</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- Hero: End -->

        <section class="container py-5">
            <div class="container">
                <p class="lead text-center mb-4 pb-3">
                    Le test d'aptitude est conçu pour aider les utilisateurs à évaluer leurs compétences et leurs
                    capacités dans différents domaines, que ce soit sur le plan scolaire ou professionnel. Il permet
                    d'identifier les forces et les faiblesses des individus afin de les orienter vers les domaines qui
                    correspondent le mieux à leurs aptitudes.
                </p>

                <h3 class="text-center mb-1"><span class="section-title">Type de tests</span> d'aptitude</h3>
                <br>

                <div class="features-icon-wrapper row gx-0 gy-4 g-sm-5">
                    <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                        <div class="text-center mb-3">
                            <a href="#"><img src="{% static 'assets/img/front-pages/icons/test_psy.png' %}"
                                             alt="laptop charging"></a>
                        </div>
                        <h5 class="mb-3">Test de raisonnement</h5>
                        <p class="features-icon-description">
                            Évalue les capacités de raisonnement logique et analytique.
                        </p>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                        <div class="text-center mb-3">
                            <a href="{% url 'comming_soon' %}"><img
                                    src="{% static 'assets/img/front-pages/icons/recherche_emploi.png' %}"
                                    alt="transition up"></a>
                        </div>
                        <h5 class="mb-3">Test de personnalité</h5>
                        <p class="features-icon-description">
                            Explore les traits de personnalité et les préférences comportementales.
                        </p>
                    </div>

                    <div class="col-lg-4 col-sm-6 text-center features-icon-box">
                        <div class="text-center mb-3">
                            <a href="{% url 'comming_soon' %}"><img
                                    src="{% static 'assets/img/front-pages/icons/info_carrière.png' %}" alt="edit"></a>
                        </div>
                        <h5 class="mb-3">Test de compétences spécifiques à un domaine</h5>
                        <p class="features-icon-description">
                            Évalue les connaissances et les compétences dans des domaines spécifiques tels que les
                            langues, les mathématiques, les sciences, etc.
                        </p>
                    </div>
                </div>
                
            </div>
        </section>
    </div>
{% endblock %}
