{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="container">
  <div class="header">
    <img src="../../static/img/Orient_logo.png" width="500" alt="Logo Orient" class="logo">
    <h1>Bienvenue sur Orient, votre outil d'orientation universitaire</h1>
  </div>

  <p class="lead">
    Trouvez facilement le parcours qui vous convient parmi les filières proposées dans les universités de Kolwezi.
  </p>

  <div class="row">
    <div class="col-md-6">
      <img class="img-fluid" src="{% static 'img/orientation_fat.png' %}" alt="Etudiants">
      <h2>Découvrez les débouchés et les formations</h2>
      <p>
        Explorez les détails des formations dispensées dans nos universités partenaires et découvrez les nombreuses opportunités de carrière qui s'offrent à vous.
      </p>
    </div>

    <div class="col-md-6">
      <h2>Pourquoi choisir Orient ?</h2>
      <ul class="benefits">
        <li>
          <i class="fas fa-globe"></i>
          <span>Plateforme entièrement en ligne et accessible à tous</span>
        </li>
        <li>
          <i class="fas fa-calendar-check"></i>
          <span>Informations actualisées chaque année</span>
        </li>
        <li>
          <i class="fas fa-lightbulb"></i>
          <span>Conseils d'orientation personnalisés</span>
        </li>
        <li>
          <i class="fas fa-puzzle-piece"></i>
          <span>Test de personnalité pour vous guider</span>
        </li>
      </ul>
    </div>
  </div>

  <a href="#" class="btn btn-primary btn-lg mb-5">Découvrir mon parcours</a>
</div>

{% endblock %}