{% extends 'base.html' %}

{% block content %}

    <section class="row">
        <div class="offset-2">
            <img src="../../static/img/education-3817560-3181523.png" alt="problème d'orientation" class="mx-auto">
        </div>
        <div>
            <h1 class="reveal-1">QUE FAIRE PLUS TARD ?</h1>
            <div class="doc">
                <p class="paragraph" id="paragraph">
                    Vous n'en savez strictement rien ! Si certains se sentent une vocation très tôt, vous êtes nombreux
                    à ne pas parvenir à vous faire une idée et vous appréhendez le moment ou vous devez choisir votre
                    orientation ...</p>
                <p class="learn-more">
                    Selon une enquête menée en 2019 à Kinshasa par Progress Asbl au près d'un échantillon de 20.000
                    étudiants, 15000 élèves, 25.000 parents ,150 écoles, 50 universités et 50 centres de formation
                    professionnelle sur l'Orientation scolaire, académique et professionnelle des jeunes congolais. Le
                    sondage en question fait, globalement dans l'accompagnement scolaire, académique et professionnel
                    des jeunes avait révélé que 80% de personnes s'auto-orientent, 10% sont orientes par les parents, 7
                    % subissent l'influence de l'entourage ,3% sont sans position et 0% de ces personnes ont orientées
                    par les experts</p>

            </div>


            <button class="button-principale">EN SAVOIR PLUS</button>
        </div>
    </section>

{% endblock %}